/*MAIN DOCUMENT STYLING*/

*{
    box-sizing: border-box;
    color: black;
}

body{
    width: 100%;
    background-color: #72ddf7;
    margin: 2em auto;
}

html{
    background-color: #f6ca83;
}

/*END OF MAIN DOCUMENT STYLING*/
